@using System.Diagnostics
@using TicTacToe.Models
@inject IJSRuntime JS

<div id="board-grid" style="display: grid; grid-template-columns: @RepresentingBoard.BoardSize; grid-template-rows: @RepresentingBoard.BoardSize">
    @for (int i = 1; i <= RepresentingBoard.BoardSize; i++)
    {
        //Loop through tiles in current row
        @foreach (BoardTile tile in RepresentingBoard.BoardComponents[$"0{i}"].BoardTiles)
        {
            <Tile RepresentingBoardTile="tile"/>
        }
    }
</div>
@code {
    [Parameter] public required Board RepresentingBoard { get; set; }
}