@using System.Diagnostics
@using TicTacToe.Models
@inject IJSRuntime JS

<div id="board-grid" style="display: grid; grid-template-columns: @RepresentingBoard.BoardSize; grid-template-rows: @RepresentingBoard.BoardSize">
    @for (int i = 1; i <= RepresentingBoard.BoardSize; i++)
    {
        //Loop through tiles in current row
        @foreach (BoardTile tile in RepresentingBoard.BoardComponents[$"0{i}"].BoardTiles)
        {
            <Tile RepresentingBoardTile="tile"/>
        }
    }
</div>
@code {
    [Parameter] public Board RepresentingBoard { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //If this is the first rendering, call the js function to apply appropriate grid styling
        if (firstRender)
        {
            // await JS.InvokeVoidAsync("applyGridStyling", RepresentingBoard.BoardSize);
            // await JS.InvokeVoidAsync("createSvgs");
            // await JS.InvokeVoidAsync("setTheme", "pink");
        }
    }

    [JSInvokable]
    public static bool HandleTileClicked(string tileId)
    {
        Debug.WriteLine($"Tile with id {tileId} was clicked");
        return true;
    }
}