<div id="game-over-dialog">
    <h1>Game Over</h1>
    <h2>Result</h2>
    
    <div class="dialog-option-buttons">
        <button>Home</button>
        <button>Play Again</button>
    </div>
</div>

@code {
    
}