@using TicTacToe.Models
@using TicTacToe.Services
@inject GameStateService StateService
@inject NavigationManager Navigation

<div id="game-over-dialog">
    <h1>Game Over</h1>
    @if (Status.GetType() == typeof(GameStatus.Won))
    {
        <h2>@(char.ToUpper(((GameStatus.Won)Status).Winner.Symbol) + " Won")</h2>
    }
    else
    {
        <h2>Tied</h2>
    }
    
    <div class="dialog-option-buttons">
        <button @onclick="OnHomeClicked">Home</button>
        <button @onclick="OnPlayAgainClicked">Play Again</button>
    </div>
</div>

@code
{
    [Parameter] public required GameStatus Status { get; set; }

    private void OnPlayAgainClicked()
    {
        StateService.State!.Restart();
        InvokeAsync(StateHasChanged);
    }

    private void OnHomeClicked()
    {
        Navigation.NavigateTo("/");
    }
}
