@using TicTacToe.Components
@using TicTacToe.Models
@using TicTacToe.Services
@inject GameStateService StateService
@inject JsStylingFunctions JS

@page "/play"

<PageTitle>Home</PageTitle>

<div id="home-page">
    <img id="bg-image-tl" class="bg-image" src="Assets/Squiggle.svg" alt="Decorative squiggle"/>
    <img id="bg-image-tr" class="bg-image" src="Assets/Donut.svg" alt="Decorative circle with hole in center"/>
    <img id="bg-image-bl" class="bg-image" src="Assets/Donut.svg" alt="Decorative circle with hole in center"/>
    <img id="bg-image-br" class="bg-image" src="Assets/Squiggle.svg" alt="Decorative squiggle"/>
    <BoardGrid RepresentingBoard="StateService.State!.GameBoard"/>
</div>

@if (StateService.State.Status.GetType() == typeof(GameStatus.Won) || StateService.State.Status.GetType() == typeof(GameStatus.Tied))
{
    <GameOverDialog Status="StateService.State.Status"></GameOverDialog>
}

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        StateService.State!.GameBoard.OnGameOver += OnGameStatusChange;
        StateService.State!.OnRestart += OnGameStatusChange;
    }

    private void OnGameStatusChange()
    {
        InvokeAsync(StateHasChanged);
    }
}