@page "/"
@using TicTacToe.Models
@using TicTacToe.Models.ConstantModels
@using TicTacToe.Services
@inject JsInteropFunctions JS
@inject NavigationManager Navigation
@inject GameStateService StateService
<PageTitle>Game Options</PageTitle>

<main class="theme-crossfade">
    <div id="game-preferences-container">
        <h1 class="title primary-gradient-box theme-crossfade">Tic Tac Toe</h1>

        <div id="player-options-section">
            <div class="player-options-container primary-gradient-box theme-crossfade">
                <h2>Player One</h2>
                <div class="player-options">
                    <div class="player-symbol theme-crossfade @(_playerOneSymbol == 'x' ? "player-symbol-selected" : "")" 
                         @onclick="() => UpdatePlayerSymbol(ref _playerOneSymbol, ref _playerTwoSymbol, 'x')"><h1>X</h1></div>
                    <div class="player-symbol theme-crossfade @(_playerOneSymbol == 'o' ? "player-symbol-selected" : "")"
                         @onclick="() => UpdatePlayerSymbol(ref _playerOneSymbol, ref _playerTwoSymbol, 'o')"><h1>O</h1></div>
                </div>
            </div>

            <div class="player-options-container primary-gradient-box theme-crossfade">
                <h2>Player Two</h2>
                <div class="player-options">
                    <div class="player-symbol theme-crossfade @(_playerTwoSymbol == 'x' ? "player-symbol-selected" : "")"
                         @onclick="() => UpdatePlayerSymbol(ref _playerTwoSymbol, ref _playerOneSymbol, 'x')"><h1>X</h1></div>
                    <div class="player-symbol theme-crossfade @(_playerTwoSymbol == 'o' ? "player-symbol-selected" : "")"
                         @onclick="() => UpdatePlayerSymbol(ref _playerTwoSymbol, ref _playerOneSymbol, 'o')"><h1>O</h1></div>
                </div>
            </div>
        </div>

        <div id="submit-section">
            <div class="submit-button primary-gradient-box theme-crossfade" @onclick="OnPreferencesSubmitted">Play</div>
        </div>
    </div>

    <div id="theme-preferences-container">
        <div class="theme-option pink-theme" id="pink-theme-option" 
             @onclick="() => ThemeSelected(Models.ConstantModels.GameConstants.ThemeValues.PinkTheme)"><h2>Pink</h2></div>
        <div class="theme-option blue-theme" id="blue-theme-option" 
             @onclick="() => ThemeSelected(Models.ConstantModels.GameConstants.ThemeValues.BlueTheme)"><h2>Blue</h2></div>
        <div class="theme-option orange-theme" id="orange-theme-option" 
             @onclick="() => ThemeSelected(Models.ConstantModels.GameConstants.ThemeValues.OrangeTheme)"><h2>Orange</h2></div>
    </div>
</main>

@code {
    //Symbol to represent player one
    private char _playerOneSymbol = 'x';

    //Symbol to represent player two
    private char _playerTwoSymbol = 'o';

    //Currently selected theme, set to default initially
    private string _selectedTheme = GameConstants.ThemeValues.Default;

    /// <summary>
    /// Called once this page has been initialized.
    /// </summary>
    protected override async void OnInitialized()
    {
        await base.OnInitializedAsync();

        /*
        * If the state has not been created yet, the app has just started up and no games have been played yet.
        * In this case, manually set the theme to the default, as you cannot yet reference the GameTheme property
        * contained within the state object.
        */
        if (StateService.State is null)
        {
            await JS.SetTheme(GameConstants.ThemeValues.Default);
        }
    }

    /// <summary>
    /// Called when a game theme option element is clicked. Updates the current theme
    /// and alerts the JS runtime to update the page's styles.
    /// </summary>
    /// <param name="themeValue">Value of the selected theme</param>
    private async void ThemeSelected(string themeValue)
    {
        _selectedTheme = themeValue;
        await JS.SetTheme(themeValue);
    }

    /// <summary>
    /// Called when a player symbol option element is clicked, updating the symbol
    /// representing either player.
    ///
    /// Each player's symbol must be unique, and this method enforces that.
    /// </summary>
    /// <param name="changingPlayer">Player whose symbol has been selected</param>
    /// <param name="otherPlayer">Other player whose symbol will need to change</param>
    /// <param name="changeTo">Symbol to represent changingPlayer</param>
    private void UpdatePlayerSymbol(ref char changingPlayer, ref char otherPlayer, char changeTo)
    {
        //If attempting to change to the same value, do nothing
        if (changingPlayer.Equals(changeTo))
        {
            return;
        }

        //Otherwise, swap the player's symbols
        otherPlayer = changingPlayer;
        changingPlayer = changeTo;
    }

    /// <summary>
    /// Called when the play button is clicked, creating a new game state and re-routing to the game page.
    /// </summary>
    private void OnPreferencesSubmitted()
    {
        //Create a new state with the necessary parameters and selected theme
        StateService.State = new(new Player(_playerOneSymbol), new Player(_playerTwoSymbol), 3){GameTheme = _selectedTheme, Status = new GameStatus.Ongoing()};
        
        //Navigate to the game page
        Navigation.NavigateTo("/play");
    }
}