@using TicTacToe.Components
@using TicTacToe.Models

@page "/"

<PageTitle>Home</PageTitle>

<div id="home-page">
    <BoardGrid RepresentingBoard="testBoard"/>
</div>

@code {

    public Player testPlayer { get; set; } = new('X');
    public Board testBoard { get; set; } = new(3);
}