.blue-theme {
    --primary: #B3C8CF;
    --primary-light: #D6E8EE;
    --secondary: #99BC85;
    --secondary-light: #E1F0DA;
}

.pink-theme {
    --primary: #D77FA1;
    --primary-light: #F0C1D3;
    --secondary: #8E7AB5;
    --secondary-light: #DFCCFB;
}

.orange-theme {
    --primary: #EFB495;
    --primary-light: #FFDFCE;
    --secondary: #BB8493;
    --secondary-light: #F3D0D7;
}

body {
    font-family: Signika, serif;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
}

/*GAME OPTIONS PAGE*/

main {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: var(--primary);
    display: grid;
    grid-template-rows: 4fr 1fr;
    row-gap: 15px;
}

.theme-crossfade {
    animation-duration: 1s;
    transition: background-color 1s ease;
}

#game-preferences-container {
    grid-row: 1;
    width: 70vw;
    height: 60vh;
    padding: 25px 0;
    min-height: 300px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    align-self: end;
    justify-self: center;

    background: linear-gradient(133deg, rgba(255, 255, 255, 0.66) 0%, rgba(255, 255, 255, 0.28) 100%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
    border-radius: 10px;
}

.primary-gradient-box {
    background: linear-gradient(135deg, var(--primary) 0%, var(--primary-light) 100%);
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 4px solid #FFFFFF;
}

#game-preferences-container > .title {
    grid-row: 1;
    justify-self: center;
    align-self: center;
    font-size: 4em;
    width: 60%;
    text-align: center;
    margin: 0;
}

#player-options-section {
    grid-row: 2;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    max-height: 250px;
}

.player-options-container {
    padding: 10px 15px;
    width: 40%;
    /*min-height: 225px;*/
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.player-options-container > h2 {
    grid-row: 1;
    align-self: start;
    margin: 5px 10px;
    text-align: center;
    font-size: 2em;
}

.player-options {
    grid-row: 2;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
}

.player-symbol {
    aspect-ratio: 1/1;
    width: 40%;
    height: auto;
    background: linear-gradient(133deg, rgba(255, 255, 255, 0.66) 0%, rgba(255, 255, 255, 0.28) 100%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    color: var(--primary);
    font-size: 2em;
    box-sizing: border-box;
    cursor: pointer;
}

.player-symbol-selected { border: 4px solid var(--primary); }

.game-option-selected { box-shadow: none; }

.player-symbol > h1 {
    margin: 0;
    padding: 0;
    align-self: center;
}

#submit-section { grid-row: 3; }

.submit-button {
    max-width: 100px;
    padding: 15px 25px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 0 auto;
    cursor: pointer;
}

#theme-preferences-container {
    grid-row: 2;
    align-self: start;
    justify-self: center;
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
    border-radius: 15px;
    background: linear-gradient(133deg, rgba(255, 255, 255, 0.66) 0%, rgba(255, 255, 255, 0.28) 100%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 15px 0;
}

.theme-option {
    aspect-ratio: 1/1;
    width: 12vmin;
    height: 12vmin;
    background: linear-gradient(135deg, var(--primary) 0%, var(--primary-light) 100%);
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.theme-option:hover { box-shadow: none; }

.theme-option > h2 {
    align-self: center;
    justify-self: center;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 auto;
}

@media (max-height: 700px) {
    #game-preferences-container > .title { font-size: 2em; }

    .theme-option { font-size: .75em; }
}

@media (max-height: 650px) {
    #player-options-section { max-height: 175px; }
}

/*GAME PAGE*/

#home-page {
    display: flex;
    align-content: center;
    justify-content: center;
    background: var(--primary);
    height: 100vh;
    overflow: hidden;
}

.bg-image { position: absolute; }

#bg-image-tl {
    top: 5%;
    left: 10%;
    width: 30vmin;
    height: auto;
}

#bg-image-tr {
    top: 5%;
    right: 10%;
    width: 30vmin;
    height: auto;
}

#bg-image-bl {
    bottom: 5%;
    left: 8%;
    width: 30vmin;
    height: auto;
}

#bg-image-br {
    bottom: 5%;
    right: 10%;
    width: 35vmin;
    height: auto;
    transform: rotate(-30deg);
}

#board-grid {
    padding: 5%;
    align-self: center;
    width: 60vmin;
    height: 60vmin;
    aspect-ratio: 1/1;

    border-radius: 50px;
    background: linear-gradient(133deg, rgba(255, 255, 255, 0.66) 0%, rgba(255, 255, 255, 0.28) 100%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
}

.tile-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10%;

    perspective: 500px;
}

.tile-body {
    position: relative;
    transform-style: preserve-3d;
}

.tile-front, .tile-back {
    backface-visibility: hidden;
}

.tile-back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}

.board-tile {
    width: 100%;
    aspect-ratio: 1/1;
    fill: blue;
}

.claimed-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.claimed-svg svg path { fill: blue; }

.board-tile-claimed { fill: url(#claimed-tile-gradient); }

#game-over-dialog {
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translate(-50%, -50%);
    width: 60vmin;
    height: 50vmin;
    aspect-ratio: 1/1;
    background: linear-gradient(133deg, rgba(255, 255, 255, 0.66) 0%, rgba(255, 255, 255, 0.28) 100%);
    box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7.5px);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary);
}

#game-over-dialog > h1 {
    font-size: 3.2em;
    margin: 0;
    filter: brightness(50%);
}

#game-over-dialog > h2 {
    font-size: 2em;
    margin: 0;
    filter: brightness(75%);
}

.dialog-option-buttons > button {
    padding: 10px 20px;
    font-size: 1.5em;
    font-weight: bold;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.dialog-option-buttons > button:hover { filter: brightness(75%); }